* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Courier New, monospace;
}

html {
  max-width: 800px;
  margin: auto;
}

body {
  line-height: 1.5;
  padding: 20px;
  margin: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

h5 {
  font-weight: bolder;
}

a,
span {
  color: red;
}

a {
  text-decoration: none;
}

hr {
  border: 1px solid #ccc;
  margin: 20px 0;
}

input[type='text'],
input[type='password'],
input[type='tel'],
input[type='email'],
select,
button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.green-text {
  color: #3d8155;
}

button {
  background-color: #2f69ef;
  color: white;
  border: none;
  border-radius: 10px;
}

.forgot-password {
  text-align: right;
}

.row {
  margin-bottom: 15px;
  width: 100%;
}

.col-6 {
  width: calc((8.33% * 12) - 7px);
  display: inline-block;
}

.col-6 {
  width: calc((8.33% * 6) - 7px);
  display: inline-block;
}

.col-4 {
  width: calc((8.33% * 4) - 7px);
  display: inline-block;
}

.col-3 {
  width: calc((8.33% * 3) - 7px);
  display: inline-block;
}

ul {
  list-style-type: disc;
  margin-left: 15px;
  margin-top: 15px;
}

.text-center {
  text-align: center;
}

.profile-header {
  color: blue;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.toggle-password::before {
  font-family: FontAwesome;
  content: '\f070';
}

.toggle-password.visible::before {
  content: '\f06e';
  color: black;
}

.valid {
  color: green;
}